.red
{
    background-color: aqua;
}

#firstdiv
{
    background-color: yellow;
}

.green
{
    background-color: rgb(23, 248, 23);
}

#seconddiv 
{
    background-color: rgb(74, 235, 227);
}